.card, .card-no-alignment {
    box-sizing: border-box;
    margin: 2rem 0;
    padding: 2rem;
    width: 100%;
    background: var(--bg-color);
    text-align: left;
    border: 1px solid var(--border-color);
    position: relative;
    border-radius: 0;
}

.card:hover, .card-no-alignment:hover {
    border-color: var(--accent-color);
}

.card h1, .card-no-alignment h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--header-color);
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 0.5rem;
    display: inline-block;
}

.card p, .card-no-alignment p {
    color: var(--text-color);
    margin-bottom: 1rem;
}

.card::after, .card::before, .card-no-alignment::after, .card-no-alignment::before {
    display: none;
}