.github-calendar-container {
    background-color: transparent;
    text-align: center;
    color: var(--text-color);
}

.github-calendar-title {
    color: var(--accent-color);
    font-family: var(--font-mono);
    text-transform: uppercase;
}

.github-calendar-image {
    width: 100%;
    height: auto;
    border: 1px solid var(--border-color);
    box-shadow: none;
}