.custom-link {
    color: var(--accent-color);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.custom-link:hover {
    color: var(--header-color);
    text-decoration: none;
    border-bottom: 1px solid var(--accent-color);
}