a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
    background-color: #181818;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.main-nav-bar {
    background-color: #181818;
    border-color: rgba(0, 255, 255, 0.7);
    border-radius: 8px;
    border-style: ridge;
    border-width: 6px;
    box-shadow: 0 0 15px rgba(255, 255, 255, .45);
}

.main-nav-bar-item {
    background-color: #181818;
    border-color: rgba(0, 255, 255, 0.7);
    border-radius: 8px;
    border-style: outset;
    margin: 3px 5px;
    transition: transform 0.15s ease, background-color 0.15s ease-in-out, border-radius 0.15s ease, margin 0.15s ease;
    /*transform: scale(1.0);*/
}

.main-nav-bar-item:hover {
    background-color: rgba(0, 255, 255, 0.55);
    border-color: rebeccapurple;
    border-radius: 12px;
    margin: 3px 4px;
    text-decoration-color: black;
    transform: scale(1.2);
}

.box-shadow {
    box-shadow: 5px 5px 3px rgba(0, 255, 255, .45);
    text-shadow: #E01A76 1px 1px 1px;
}

