/* Provide sufficient contrast against white background */
a {
    color: #bbbbbb;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

body {
    background-color: #181818;
    color: #bbbbbb;
    font-size: large;
}
